.about {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-height: 80svh;
  justify-content: center;
}

.statement {
  max-width: 20ch;
  font-size: var(--step-4);
  line-height: 1.05;
  font-weight: 500;
}

.statement .chrome-text {
  font-style: italic;
}

@media (max-width: 1024px) {
  .about {
    min-height: auto;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}
